html {
    margin: 0;
    padding: 0;
}

#debug {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    /*width: 10em;*/
    border: 1px solid #666;
    font-size: 11px;
    font-family: monospace;
    line-height: 20px;
    color: #CCC;
    padding: 5px;
}

body {
    background-color: #333;
    color: #EEE;
    font-family: sans-serif;

    margin: 0;
    padding: 20px 20px 0 20px;
}

input, button {
    font-size: 100%;
    width: 6em;
}

#mainheading {
    display: inline;
    margin: 0 10px 20px 0;
    padding: 0;
    font-size: 2em;
    vertical-align: baseline;
}

#mainheading:after {
    content: " : ";
}

#instructions {
    display: inline;
    vertical-align: baseline;
}

#upload-url-toggle, #upload-button, #load-image {
    margin-top: 5px;
}

#upload-url-toggle {
    width: 24px;
    height: 24px;
    background: url("/images/sprite.png") no-repeat 0 0;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    border: none;
}

/* Prevent ugly dotted focus indicator in Firefox. */
#upload-url-toggle::-moz-focus-inner { border: 0; }

#upload-url-toggle:hover {
    background-position: 0 -24px;
}

#upload-url-toggle.url {
    background-position: -48px 0;
}

#upload-url-toggle.url:hover {
    background-position: -48px -24px;
}

#url-container {
    margin-top: 20px;
}

#image-url, #upload-form {
    width: 700px;
    background-color: #EEE;
    color: #333;

    border-width: 1px;
    border-style: solid;
    border-color: #ACF;

    padding: 3px;
    margin-right: 10px;

    float: left;
}

#src-url, #src-upload {
    float: left;
}

#src-upload {
    display: none;
    position: relative;
}

#image-url {
    height: 25px;
}

#image-url:invalid {
    color: #D00;
}

#upload-input {
    width: 600px;
    height: 25px;
    cursor: pointer !important;
}

#information-button {
    width: 14px;
    height: 14px;
    background: url("/images/sprite.png") no-repeat -28px -1px;
    cursor: pointer;
    display: inline-block;
}

#information-button:hover {
    background-position: -28px -17px;
}

#upload-information {
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    z-index: 99;
    background-color: #FFF;
    color: #333;
    padding: 0 20px;
    border: 1px solid #ACF;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    display: none;
}

#information-button:hover + #upload-information {
    display: block;
}

#main-wrapper {
    position: absolute;
    top: 8em; bottom: 60px;
    left: 20px; right: 20px;
}

#loading-message {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url("/images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
    z-index: 999;
    border: 1px dotted #8AD;
    text-align: center;
    padding-top: 5%;
    font-size: 125%;
}

#info {
    background-color: #DEF;
    border: 3px solid #ACF;

    font-family: monospace;
    line-height: 1em;

    position: absolute;
    bottom: -50px;
    left: 0;
    width: 23em;
    height: 30px;

    padding: 0.5em;
    color: #333;
}

#info div {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

#info div.active {
    background-color: #FFF;
    border-color: #FFF;
}

#bgpos-info {
    color: #A00;
    /*border-color: #F00;*/
}

#size-info {
    color: #080;
    /*border-color: #0A0;*/
}

.option {
    position: absolute;
    bottom: -20px;
    height: 15px;
}

#binary-transparency-container {
    right: 380px;
}

#zoom-level-container {
    right: 250px;
}

#bg-type-container {
    right: 0px;
}

#box-sizer, .image-box {
    position: absolute;
    top: 0;
    bottom: 0;
}

.image-box {
    border: 1px solid #ACF;
    overflow: auto;
}

#navigator {
    left: 0;
    width: 200px;
    display: none; /* hidden until I actually implement it */
}

#box-sizer {
    left: 202px;
    width: 8px;
    cursor: ew-resize;
    background-color: #ACF;
    display: none;
}

#zoomed-view {
    left: 0px;
    right: 0;
    overflow: hidden;
}

#viewport, #image-scroller {
    position: absolute;
    top: 0;
    left: 0;
}

#image-scroller {
    overflow: auto;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    display: none; /* hidden until an image is loaded */
}

#sprite-marker {
    width: 0;
    height: 0;
}

.crop {
    position: absolute;
    border-style: dashed;
    border-width: 0;
}

.crop.active {
    background-color: rgba(100%, 100%, 100%, 0.1);
}

#crop-top, #crop-left {
    border-color: #F00;
}

#crop-bottom, #crop-right {
    border-color: #0F0;
}

#crop-top, #crop-bottom { height: 10px; left: 0; right: 0; }
#crop-left, #crop-right { width: 10px; top: 0; bottom: 0; }

#crop-top { border-bottom-width: 1px; }
#crop-right { border-left-width: 1px; }
#crop-bottom { border-top-width: 1px; }
#crop-left { border-right-width: 1px; }
