<div id="debug">
    Timings (ms):<br/>
    Scale: <span id="debug1"></span><br/>
    Copy: &nbsp;<span id="debug2"></span><br/>
    Total: <span id="debug3"></span><br/>
</div>

<h1 id="mainheading">piXY</h1>
<p id="instructions">Enter an image URL, or upload an image file, then click the zoomed image to
mark sprite position and size.</p>

<div id="url-container">
    <button id="upload-url-toggle" title="Switch between loading from a URL, and using an uploaded file."></button>
    <div id="src-url">
        <input type="url" id="image-url"/>
        <button id="load-image">Load</button>
    </div>

    <div id="src-upload">
        <form id="upload-form" action="/upload" method="POST"
            target="uploadframe" enctype="multipart/form-data"
            encoding="multipart/form-data">
            <input type="file" name="upload" id="upload-input" size=20 accept="image/*"/>
        </form>
        <button id="upload-button">Upload</button>
        <div id="information-button"></div>
        <div id="upload-information">
            <p>Due to browser security restrictions, scripts are not allowed to
            access the local filesystem. To work around this, the file is
            uploaded to the server and read from there.</p>
            <p>When the file
            gets uploaded, it is simply Base64-encoded and
            sent back to the client; it is not recorded in any way.</p>
        </div>

        <!-- container for receiving uploaded file data -->
        <iframe name="uploadframe" src="about:blank" style="display: none" id="upload-receiver">
        </iframe>
    </div>
</div>

<div id="main-wrapper">
    <div id="loading-message">Loading...</div>
    <div id="navigator" class="image-box">
        <img id="nav-image"/>
        <div id="nav-marker"></div>
    </div>

    <div id="box-sizer"></div>

    <div id="zoomed-view" class="image-box">
        <canvas id="viewport"></canvas>
        <div id="image-scroller">
            <div id="sprite-marker">
                <div class="crop" id="crop-top"></div>
                <div class="crop" id="crop-right"></div>
                <div class="crop" id="crop-bottom"></div>
                <div class="crop" id="crop-left"></div>
            </div>
        </div>
    </div>

    <div id="info">
        <div id="bgpos-info">
            background-position: -<span id="x"></span>px
            -<span id="y"></span>px;
        </div>
        <div id="size-info">
            width: <span id="w"></span>px;
            height: <span id="h"></span>px;
        </div>
    </div>

    <div id="binary-transparency-container" class="option">
        <label for="binary-transparency" title=
            "When on, any partially transparent pixels will be shown as fully opaque.">
            Binary transparency: </label>
        <input type="checkbox" checked id="binary-transparency"/>
    </div>

    <div id="zoom-level-container" class="option">
        <label for="zoom-level">Zoom: </label>
        <select id="zoom-level">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4 selected>4</option>
            <option value=6>6</option>
            <option value=8>8</option>
            <option value=12>12</option>
            <option value=16>16</option>
        </select>
    </div>

    <div id="bg-type-container" class="option">
        <label for="bg-type">Background: </label>
        <select id="bg-type">
            <option value="gray-check" selected>Grey squares</option>
            <option value="white">White</option>
            <option value="gray">Grey</option>
            <option value="black">Black</option>
            <option value="blue">Blue</option>
        </select>
    </div>
</div>
